.navbar {
  background: rgba(255, 255, 255, 0.015); /* ultra-transparent */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05); /* barely visible border */
  border-radius: 1rem;

  height: 4rem;
  width: 100vw;
  max-width: none;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left:0;
  z-index: 3;
}

.abhi {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: rgb(13, 114, 214);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(13,114,214);
}

.desktopMenuBtn {
    background: rgb(132, 11, 11);
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
}

.active {
    color: rgb(13, 144, 214);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(13,144,244);
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 3rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height:fit-content;
    min-width: 15rem;
    background: rgba(45, 162, 21, 0.015);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background:  rgba(255, 255, 255, 0.05);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}